<!-- <player></player> -->
<button (click)="togglePlayer('https://firebasestorage.googleapis.com/v0/b/audiostream-89853.appspot.com/o/lussi%20-%20gotta%20roll.mp3?alt=media')"> player 1 </button> 

<button (click)="togglePlayer('https://firebasestorage.googleapis.com/v0/b/audiostream-89853.appspot.com/o/System%20Of%20A%20Down%20-%20Old%20School%20Hollywood%20%2310.mp3?alt=media')"> player 2 </button> 

<button (click)="togglePlayer('https://firebasestorage.googleapis.com/v0/b/audiostream-89853.appspot.com/o/Disturbed%20%20-%20The%20Sound%20Of%20Silence%20%5BOfficial%20Music%20Video%5D.mp3?alt=media')"> player 3 </button> 

coucou

<player></player>

